.home{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.486);
}
.back-image{
    margin: auto;
    position: fixed;
    top: 20em;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    z-index: -1;
    object-fit: contain;
    opacity: 0.7;
}
.content{
    width: 100%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.content-heading{
    color: white;
    width: 60%;
}
.content p{
    width: 60%;
    margin-top: 1em;
    font-size: 1.1em;
    color: white;
}
